<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="&lt;%=" />
</head>
<body style="width: 100% !important;-webkit-text-size-adjust: none;margin: 0;padding: 20px;background-color: #FAFAFA;">
 <center>
   <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height: 100% !important;margin: 0;padding: 0;width: 100% !important;"><tr><td align="center" valign="top" style=";border-collapse: collapse">
       <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 0px solid #DDD;background-color: white"><tr><td align="center" valign="top" style="border-collapse: collapse">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFF;border-bottom: 0"><tr><td  style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle">

           <img src="http://i.imgur.com/VX7DbcB.png" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="" /></td>
       </tr></table></td>
   </tr><tr><td align="center" valign="top" style="border-collapse: collapse">
   <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody"><tr><td valign="top" style="border-collapse: collapse">

    <table border="0" cellpadding="20" cellspacing="0" width="100%"><tr><td valign="top"  style="border-collapse: collapse;background-color: #FFF">
        <div mc:edit="std_content00" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left">
            <h3  style="color: #202020;display: block;font-family: Arial;font-size: 24px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center">Iron Freshbooks Report</h3>

        </div>
    </td>
</tr><tr><td valign="top" style="padding-top: 0;padding-bottom: 0;border-collapse: collapse">

<!-- #####################REPORT GOES HERE############################## -->
<%      @time_hash.each do |key, time_entries| %>
        <table  cellpadding='5' cellspacing='0' width='100%'   style='background-color: #FFF; border:1px solid gray;' >
      <tr mc:repeatable style ="border:none;background-color:#c8e7ff;" >
      <th style='border:none; font-family: Helvetica;font-size: 14px;line-height: 110%; text-align: center'  colspan='4' ><br>
      <h3 style='text-align:center; color: #202020;display: block;font-family: Arial;font-size: 24px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 0px;margin-left: 0;text-align: center'> <%= key.to_s  %> Summary</h3>
      <br>
      </th></tr>
      <tr mc:repeatable style='background-color: #deeffc; border:none'>
      <th style='font-family: Helvetica;border:none; font-size: 14px;font-weight: bold;line-height: 150%;text-align: left'  width='15%' mc:edit='data_table_heading02'>
      Date
      </th>
      <th style='font-family: Helvetica;border:none;font-size: 14px;font-weight: bold;line-height: 150%;text-align: left'   width='15%'mc:edit='data_table_heading02' >
      Hours
      </th>
      <th style='font-family: Helvetica;border:none;font-size: 14px;font-weight: bold;line-height: 150%;text-align: left'  width='15%' mc:edit='data_table_heading02'>
      Staff ID
      </th>
      <th style='font-family: Helvetica;border:none;font-size: 14px;font-weight: bold;line-height: 150%;text-align: left'  width='55%' mc:edit='data_table_heading02' >
      Notes
      </th>
      </tr>
 
<%   time_entries.sort_by{|entry| entry.date}.each_with_index do |entry, index| %>
        <% if index.odd? %>
        <tr style= 'background-color:#ffffff;' mc:repeatable>
        <% else %>
        <tr style= 'background-color:#ebf7dc;' mc:repeatable>
        <% end %>
        <td style='border-collapse: collapse;border:none;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 110%;text-align: left' mc:edit='data_table_content00' valign='top' >
        <%= entry.date %>
        </td>
        <td style='border-collapse: collapse;border:none;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 110%;text-align: center' mc:edit='data_table_content00' valign='top' >
        <%= entry.hours %>
        </td>
        <td style='border-collapse: collapse;border:none;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 110%;text-align: left' mc:edit='data_table_content00' valign='top' >
        <%= entry.staff_name %>
        </td>
        <td style='border-collapse: collapse;border:none;color: #202020;font-family: Helvetica;font-size: 12px;line-height: 110%;text-align: left' mc:edit='data_table_content00' td valign='top' > 
        <%= entry.notes %>  
        </td>
        </tr>
        <% end %>
        <tr mc:repeatable style="border:none; background-color: #deeffc;"><td colspan='4' style='border-collapse:border:none; collapse;color: #202020;font-family: Helvetica; padding-bottom:10px; font-size: 16px; line-height: 110%;text-align: center' mc:edit='data_table_content00' valign='top' ><ul style='list-style-type:none;'>
      <li><span style='font-weight: bold;'>Total Time: </span> <span style='font-weight:300;'><%= @report_project_time_totals[key]  %></li>
     <%  @project_staff_totals[key.to_s].each do |staff_name, total_time|  %>
         <li><span style='font-weight: bold;'><%= staff_name %>'s Total Hours' : </span> <span style='font-weight:300;'><%= total_time %></li>
      <% end %>
      </ul></td></tr>

     </table><br><br>
     <% end %>
<!-- ##################### REPORT TABLES ENDS HERE#################### -->

</td>
</tr><tr><td valign="top"  style="border-collapse: collapse;background-color: #FFF">
<div mc:edit="std_content01" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left">
    <a href="http://www.iron.io/" target="_blank">Iron.io</a> is the maker of IronMQ, the message queue for the cloud. It is a scalable cloud-based message queue service designed for building distributed cloud applications quickly and operating at scale. Iron.io’s services are easy to use, highly available, and require no setup or maintenance. This translates into greater speed to market, reduced complexity, and increased reliability and scalability.
</div>
</td>
</tr><tr><td align="center" valign="top" style="padding-top: 0;border-collapse: collapse">
<table border="0" cellpadding="15" cellspacing="0"  style="-moz-border-radius: 3px;-webkit-border-radius: 3px;background-color: #369;border: 0;border-collapse: separate !important;border-radius: 3px;color: #FFF;font-family: Arial;font-size: 15px;font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none"><tr><td valign="middle"  style="border-collapse: collapse">
   <div mc:edit="std_content02">
       <a style ='color:white;text-decoration:none'href="http://www.iron.io" target="_blank">See What Iron.io Can Do for You</a>
   </div>
</td>
</tr></table></td>
</tr></table></td>
</tr></table></td>
</tr><tr><td align="center" valign="top" style="border-collapse: collapse">

<table border="0" cellpadding="10" cellspacing="0" width="100%"><tr><td valign="top" style="border-collapse: collapse">

</td>
</tr></table></td>
</tr></table></td>
</tr></table><br /></td>
</tr></table></center>

</body>
</html>
